.root{
  position: relative;
  width: 80%;
  input{
    border: 1px solid rgba(0, 0 , 0 ,0.1);
    padding: 12px 20px 12px 42px;
    width: 300px;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    &:focus{
      border: 1px solid rgba(0, 0 , 0 ,0.2);
    }
  }

  &-icon{
    width: 22px;
    height: 22px;
    opacity: 0.3;
    position: absolute;
    left: 265px;
    top: 12px;
  }
  &-clearIcon{
    width: 28px;
    height: 28px;
    opacity: 0.3;
    position: absolute;
    right: 10px;
    top:8px;
    cursor: pointer;
    &:hover{
      opacity: 0.8;

    }
  }
}
